// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

.green02 {
  color:#1EDD88 !important;
  text-decoration: none;
  background-color:rgb(49, 49, 49);
  border-radius:9px;
}
