// Specific CSS for your home-page

body {
  background-color: rgb(34, 34, 34);
  color: white;
}

.form-control {
  border-radius:0px;
}

// CSS STYLE IF USER IS LOGIN //

.top-home {
  position: relative;
}

.menu-burger {
  position: absolute;

  top: 40px;
  left: 40px;
  width:40px;
  height:40px;
  background-color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:1000;
  border-radius:50%;

}
.burger-strip {
  width: 20px;
  height: 4px;
  border-radius:14%;
  background-color: black;
  margin: 4px 0;
}


.intro h3 {
  margin-top:15px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-align: center;
}

hr {
  border-top: 1px solid rgb(210,210,210);
}

.search-input-map {
  background-color:black;
  border-radius: 8px;
  height:64px;
  width: 300px;
  margin-left:40px;
  overflow: hidden;
  display:flex;
}

.search-map-button {
  background-color:black
}

.where-at {
  background-color:black;
  color:white;
  border-radius: 0px;
  border:none;
  height:64px;
  width:180px;
  padding-left:15px;
  font-size:16px;
  font-family: 'Roboto', sans-serif;
  border-right:1px solid white;
  border-right-width: thin;
  display:inline;

}

::placeholder {
  color:white;
}

.which-sport {
  background-color:black;
  color:white;
  border:none;
  height:64px;
  width:120px;
  padding-left:10px;
  font-size:16px;
  font-family: 'Roboto', sans-serif;
  float: right;
}

.places-suggestions {
  margin-left:50px;
  width: 300px;
  margin-bottom: 40px;
}

.places-suggestions h3 {
  margin-top:20px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.fas {
  text-decoration: none;
  color:white;
}

.far {
  float:left;
  padding-right:30px;
}



// CSS STLYE IF USER IS LOGOUT //


.fbk {
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-weight: bold;
}

.log_in {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    font-weight: bold;
}

.btn-sign_up {
  width:130px;
  text-decoration:none;
  color:white;
}
.btn-log_in {
  width:130px;
  text-decoration:none;
  color:white;
}


.logo {
    width: 10em;
    font-size: 65px;
    color: #00AD68;
    font-weight: bold;
    margin-left: 75px;
    margin-top: 150px;

}


.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color:black;
  h2{
    font-size: 1rem;
  }
}


