.index-all {
  margin-left:40px;
}

.back-btn {
  float:none;
  margin-top:50px;
  font-size:22px;
  color:white;
}
.top-calendar {
  margin-top:40px;
}

.top-calendar h4 {
  font-size:16px;
}

.top-calendar h2 {
  font-size:26px;
}

.letter_day {
  margin-top:15px;
}

.number_day, .letter_day {
  display:flex;
  justify-content:space-between;
  margin-right:40px;

  div {
    width:14%;
    text-align:center;
  }
}

.result {
  margin-top:20px;
  background-color:rgb(28, 28, 28);
  border-radius: 4% 0% 0% 4%;
  color:white;

}

.avatars-index {
  display: -webkit-inline-box
}

.avatars-index p {
  margin-left:10px;
  margin-top:8px;
  color: white;
  font-weight:bolder;
  }

.avatar-user1 {
  border-radius:50%!important;
  margin-left:25px;
  margin-top:5px;
}

.avatar-user2 {
  border-radius:50%!important;
  margin-left:8px;
  margin-top:5px;
}


#today-green {
  color:#00AD68;
}

.result-title {
  padding-top:12px;
  margin-left:25px;
  font-size:20px;
  font-weight:bolder;
}

.result-title a {
  color:white;
}


.events-info-index {
  margin-top:20px;
  margin-bottom:20px;
  display: -webkit-inline-box;
}

.infow-results {
  display: flex;
  align-items:center;
  font-size:12px;
}

.right-result {
  line-height:0.1;

  p {
  font-weight:bolder;
  }
}

.result-description {
  margin-right:10px;
  margin-left:25px;
  font-size:12px;
}

.clock-result {
  padding-right:10px;
  margin-left:25px;
  font-size:18px;
}

.hourglass-result {
  padding-right:10px;
  margin-left:25px;
  font-size:18px;
}

.chair-result {
  padding-right:10px;
  margin-left:25px;
  font-size:18px;
}

