.map img {
  height:330px;
}

.intro h3 {
  margin-top:15px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-align: center;
}

hr {
  border-top: 1px solid rgb(210,210,210);
}

.search-input-map {
  background-color:rgb(17,17,17);
  border-radius: 5px;
  height:64px;
  width: 300px;
  margin-left:40px;
  overflow: hidden;
}

.where-at {
  background-color:rgb(17,17,17);
  color:white;
  border:none;
  height:64px;
  width:200px;
  padding-left:15px;
  font-size:15px;
  font-family: 'Roboto', sans-serif;
  border-right:1px solid white;
  border-right-width: thin;
}


::placeholder {
  color:white;
}
