.map img {
  height:330px;
}

.intro h3 {
  margin-top:15px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-align: center;
}

hr {
  border-top: 1px solid white;
}
