<div class="side-bar side-bar-hidden">

  <div class="top-side-bar">
    <img class="d-block avatar-user1" src="https://avatars0.githubusercontent.com/u/60097128?s=64&v=4&amp;v=4" width="32" height="32">
    <h1> <%=current_user.nickname.capitalize%></h1>
    <p> <%= current_user.average_rating %></p>

    <div class="quit-nav">
      <i class="fas fa-times"></i>
    </div>
  </div>

  <div class="bottom-side-bar">
    <h2><%=link_to "My dashboard", dashboard_path  %></h2>
    <h2>Help</h2>
    <h2>Settings</h2>
    <h2><%=link_to "Logout", destroy_user_session_path, method: :delete %></h2>
  </div>
</div>
