<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
 <a class="navbar-brand" href="#">
    <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fwww.comparetv.com.au%2Fwp-content%2Fuploads%2F2019%2F01%2Fprovider-mate-logo-big.png" />
</a>
</div>