<div class="down-nav-bar">
  <div class="find-nav">
    <%= link_to root_path do%>
       <i class="fas fa-search"></i>
       <h4>Find</h4>
     <%end %>
  </div>

  <div class="create-nav">
    <%= link_to new_event_path do%>
      <i class="fas fa-plus"></i>
      <h4>Create</h4>
    <%end %>
  </div>

  <div class="dashboard-nav">
    <%= link_to dashboard_path do %>
      <i class="fas fa-users"></i>
      <h4>Dashboard</h4>
    <% end %>
  </div>
</div>
