<div class="down-nav-bar">
  <div class="find-nav">
   <i class="fas fa-search"></i>
   <h4>Find</h4>
  </div>

  <div class="create-nav">
    <%= link_to new_event_path do%>
    <i class="fas fa-plus"></i>
    <h4>Create</h4>
    <%end %>
  </div>
</div>
