<!-- <div class="container">
    <div class="logo"><%= image_tag "mate.png", alt: "Le logo mate", width: 200 %></div>
</div>

<div class= "authentification">
<div>
    <button class="fb"
            type="button">
        Continue with facebook
    </button>
  </div>
  <div>
    <button class="login"
            type="button">
        Login
    </button>
  </div>
</div> -->





