<div class="all-home">
  <div class="map">
    <img src="https://miro.medium.com/max/4024/0*F4QsnZTYhz_xEO2P.png">
  </div>

  <div class="intro">
    <h3>Good afternoon, Julie</h3>
  </div>

  <hr>

  <div class="search-input-map">
    <input class="where-at" type="text" placeholder="Where at?">
    <input class="which-sport" type="text" placeholder="Which sport?">
  </div>

  <div class="places-suggestions">
    <div class="saved-places">
    <i class="fas fa-band-aid"></i>
    <h3>Saved places</h3>
  </div>

  <div class="set-location">
    <i class="fas fa-band-aid"></i>
    <h3>Set location on map</h3>
  </div>

</div>

  <hr>

  <div class="down-nav-bar">
    <div class="find-nav">
      <i class="fas fa-band-aid bibi"></i>
      <h4>Find</h4>
    </div>
    <div class="create-nav">
      <i class="fas fa-band-aid"></i>
      <h4>Create</h4>
    </div>
  </div>

</div>
