
<div class="form-create">
  <div class="container">
    <div class="form">
        <!-- <h1>Unlock passive income with your animal</h1>
        <p>Tell us a little about your animal</p> -->
        <div class="form-inputs">
          <%= render 'form', event: @event %>
          </div>
        </div>
    </div>
  </div>
</div>






<!--   <div class="form-check">
    <input class="form-check-input radio_buttons required" type="radio" value="2" name="event[sport_id]" id="event_sport_id_2">
    <label class="form-check-label collection_radio_buttons" for="event_sport_id_2">Pétanque</label>
  </div>
  <div class="form-check">
    <input class="form-check-input radio_buttons required" type="radio" value="3" name="event[sport_id]" id="event_sport_id_3">
    <label class="form-check-label collection_radio_buttons" for="event_sport_id_3">Tennis</label>
  </div>
  <div class="form-check">
    <input class="form-check-input radio_buttons required" type="radio" value="4" name="event[sport_id]" id="event_sport_id_4">
    <label class="form-check-label collection_radio_buttons" for="event_sport_id_4">Running</label>
  </div>
  <div class="form-check">
    <input class="form-check-input radio_buttons required" type="radio" value="5" name="event[sport_id]" id="event_sport_id_5">
    <label class="form-check-label collection_radio_buttons" for="event_sport_id_5">Cycling</label>
  </div>
  <div class="form-check">
    <input class="form-check-input radio_buttons required" type="radio" value="6" name="event[sport_id]" id="event_sport_id_6">
    <label class="form-check-label collection_radio_buttons" for="event_sport_id_6">Yoga</label>
  </div> -->
