
<div class="form-create">
  <div class="container">
    <div class="form">
        <!-- <h1>Unlock passive income with your animal</h1>
        <p>Tell us a little about your animal</p> -->
        <div class="form-inputs">
          <%= render 'form', event: @event %>
        </div>
    </div>
  </div>
</div>


