<div class="container">
    <div class="logo"><%= image_tag "mate.png", alt: "Le logo mate", width: 200 %></div>
</div>

<div class= "authenticfication">
  <div>
    <button class="signup"
            type="button">
        Sign up
    </button>
  </div>
  <div>
    <button class="styled"
            type="button">
        Continue with facebook
    </button>
  </div>
  <div>
    <button class="styled"
            type="button">
        Login
    </button>
  </div>
</div>






