<div class="all-home">
  <div class="map">
    <img src="https://miro.medium.com/max/4024/0*F4QsnZTYhz_xEO2P.png">
  </div>

  <div class="intro">
    <h3>Good afternoon, Lucie</h3>
  </div>

  <hr>

  <div class="search-input-map">
    <input class="where-at" type="text" placeholder="Where at?">

  </div>

</div>
