<div class="container">
  <div class="logo"><%= image_tag "mate.png", alt: "Le logo mate", width: 200 %></div>
</div>
<div class="container">
  <div class="sign_up">
      <%= link_to "Sign up", "#",  target: "_blank", class: "signup" %>
  </div>
</div>
<div class="fbk">
    <%= link_to "Continue with facebook", "#", target: "_blank", class: "fb"  %>
</div>
<div class="log_in">
    <%= link_to " Login", "#", target: "_blank", class: "login"  %>
  </div>






