.card-category {
  height: 240px;
  position: relative;
  border-radius: 10px;
  filter: blur(8px);
  -webkit-filter: blur(3px);
}

.show-banner-img {
  position: absolute;
  bottom: 455px;
  left: 39px;
  width: 80%;
  border-radius: 10px;
}

.event_form {
  padding: 20px;

}

