.card-category {
  height: 240px;
  position: relative;
  border-radius: 10px;
  filter: blur(8px);
  -webkit-filter: blur(3px);
}

.show-banner-img {
  // position: absolute;
  // bottom: 390px;
  height: 265px;
  width: 100%;
  filter: blur(5px);


}

.event_form {
  padding: 50px;
  margin-top: -277px;
  position:relative;

}

