// boutons pour les /events/new
.btn-back {
  font-size: 38px;
  color:white;
  position: absolute;
  top: 10px;
  left: 10px;
}

.btn-next-disable {
  pointer-events: none;
  background: transparent;
  color: black;
  font-weight: bold;
  font-size: 14px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 22px;
  padding: 10px 40px;
  transition: all 0.2s linear;
  &.btn-active {
    pointer-events: inherit;
    color: #00AD68;
    border-color: #00AD68;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    padding: 10px 40px;
    transition: all 0.2s linear;
  }
 }


//  .btn-create-event {
//   pointer-events: none;
//   background: transparent;
//   color: black;
//   font-weight: bold;
//   font-size: 14px;
//   border-color: black;
//   border-style: solid;
//   border-width: 2px;
//   border-radius: 22px;
//   padding: 10px 40px;
//   &.btn-active {
//     pointer-events: inherit;
//     color: #00AD68;
//     border-color: #00AD68;
//     border-style: solid;
//     border-width: 2px;
//     border-radius: 22px;
//     padding: 10px 40px;
//     transition: all 0.2s linear;
//   }
// }

// boutons pour /home
.buttons-log {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 .btn-sign_up {
  color: white;
  font-weight: bold;
  font-size: 14px;
  background-color: #00AD68;
  border-radius: 22px;
  padding: 10px 40px;
  margin-bottom: 15px;
 }

 .btn-log_in {
  color: white;
  font-weight: bold;
  font-size: 14px;
  background-color: #00AD68;
  border-radius: 22px;
  padding: 10px 40px;
 }

 .btn-fb {
  color: white;
  font-weight: bold;
  font-size: 14px;
  background-color: blue;
  border-radius: 22px;
  padding: 10px 40px;
  margin-bottom: 8em;
 }

 .btn-join {
  color: white;
  font-weight: bold;
  font-size: 14px;
  background-color: black;
  border-color: #00AD68;
  border-style: solid;
  border-width: 2px;
  border-radius: 22px;
  padding: 16px 47px;
  margin-left: 126px;
 }

 .btn-feedback {
  color: white;
    font-size: 14px;
    background-color: #00AD68;
    border-width: 0px;
    border-radius: 22px;
    padding: 6px 20px;
    margin-top: 4px;
  .far {
    float:none;
    padding-right: 0px;
  }
}

.btn-feedback-event {
 color: white;
    font-size: 14px;
    background-color: #00AD68;
    border-width: 0px;
    border-radius: 22px;
    padding: 6px 20px;
    margin-top: 4px;
  .far {
    float:none;
    padding-right: 0px;
  }


}
.btn-let-him_know {
    color: white;
    font-weight: bold;
    font-size: 14px;
    background-color: #167FFB;;
    border-width: 0px;
    border-radius: 30px;
    padding: 6px 20px;
}


