.container_logo {
  margin-top: 15px;
  margin-bottom: 30px;
}

.container_join{
  height: 100px;
}

.participants {
  margin: 36px;
}

.row_button {
  padding: 34px;
  display: flex;
  justify-content: space-between;
}

.container_event_form {
  filter: blur(1px);
  padding-top: 65px;
  background-position:relative;
  opacity: 0.5;
  height: 307px;
}
