.container_logo {
  margin-top: 15px;
  margin-bottom: 30px;
}

.container_join{
  height: 100px;
}

.participants {
  margin: 36px;
}

.row_button {
  margin-top: -50px;
  padding: 34px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.container_event_form {
  filter: blur(1px);
  padding-top: 65px;
  background-position:relative;
  opacity: 0.5;
  height: 307px;
}

.event_description {
  padding: 5px 50px 11px;
}

.date_event {
  padding: 0px 50px 11px;
  color: #00AD68;
}

.hour_event {
  padding: 0px 50px 11px;
  color: #00AD68;
}

.schedule {
  padding-top: 40px;
}
