.back-btn-new {
  margin-bottom:50px;
  margin-right:230px;
  float:none;
  font-size:22px;
  color:white;
}

.sport-choices {

  display :flex;
  justify-content: space-evenly;
  flex-wrap : wrap;
}

.sport-choice {
  background-color: grey;
  height: 100px;
  width: 100px;
  margin: 10px;
  opacity: 0.4;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & p {
    font-weight: bold;
  }
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.square-active {
    background: #00AD68;
    color:white;
    opacity:1;
    & p {
      color: black;
    }
  }
}

.sport-icon {
  height: 40px;
  width: 40px;
  margin-bottom: 8px;
}

.hidden-radio {
  display:none;
}

.step {
  display:none;
}

.active {
  display: block
}

.content-center {
  height: 100vh;
  text-align:center;
  display:flex;
  justify-content: center;
  align-items: center;
}

#event_duration {
  width: 100px;
  margin-left: 10px;
}

.event_duration {
  display:flex;
  align-items : center;
}

// .event_form {
//   width: auto;
// }
.form {
  margin-bottom:50px;
}

.navbar-form {
  position: relative;
  width: 100%;
  .back-btn-link {
    position: absolute;
    top: 1.7em;
    left: 2em;
  }
  .navbar {
    justify-content: center;
  }
  .navbar-brand {
    margin-right: 0!important;
    img {
      margin-left: 0!important;
    }
  }
}

.form-inputs {
  position: relative;
  flex-grow: 1;
  margin-top: 35px;
}
.label-duration {
  margin-bottom : 0px;
}

.form-control.input-step2 {
  border-radius: 6px;
}
