.sport-choices {
  display :flex;
  justify-content: space-evenly;
  flex-wrap : wrap;
}

.sport-choice {
  flex : 0 0 30%;
  background-color: grey;
  height: 116px;
  width: 116px;
  margin: 10px;
  opacity: 0.4;
  border-radius: 5px;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.square-active {
    background: green;
    color:white;
    opacity:1;
  }
}

.hidden-radio {
  display:none;
}

.step {
  display:none;
}

.active {
  display: block
}

.content-center {
  height: 100vh;
  text-align:center;
  display:flex;
  justify-content: center;
  align-items: center;
}

#event_duration {
  width: 100px;
}

.event_duration {
  display:flex;
  align-items : center;
}

.event_form {
  width: auto;
}

