.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

a.mapboxgl-ctrl-logo {
  width:0px;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact:after {
  width:0px;
}
