
.down-nav-bar {
  width:100vw;
  text-align:center;
  position:absolute ;
  bottom: 0;
  background-color: rgb(34, 34, 34);
  display:flex;
  padding-bottom: 5px;
  padding-top: 10px;
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.2);
}

.down-nav-bar h4 {
  color:white;

  font-size:16px;

}

.find-nav {
  float:left;
  width:50%;
  border-right:1px solid white;

}

.create-nav {
  float:right;
  width:50%;
}
