.profile-header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 7px;
  margin-top: 10px;
}
.profile-header-number ul{
  display:flex;
  justify-content:space-between;
  list-style-type: none;
  li{
        padding-left: 20px;
  }
  p{
    color:#8e8e8e
  }
}
.profile-description h5{
  line-height: 0.3;
  font-weight: lighter;
}
.profile-description p {
  font-weight: lighter;
  font-size: 13.5px;
}

.review{
  font-size: 14px;
  font-weight: lighter;
}
.event-title{
font-size: 20px;
    font-weight: 45;
}

.events-created h3{
  color:#00AD68
}

.title-profile{
  display:flex;
  justify-content:space-evenly;
    border-top: solid 1px white;
    padding-top: 15px;
}

.my-events {
  background-color: #50ae69cc;
  border-radius: 19px;
  padding: 5px 14px;
  margin-bottom: 4px;
  h5 {
   margin-bottom: 0px;
  }
}
.navbar-brand .menu-burger {
  margin: -30px 5px;
  top:0px;
}
